.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* Header */
header {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #339448;
}

header nav a {
    color: #6b6f75;
    text-decoration: none;
    transition: color 0.3s;
    margin: 0 0.5rem;
}

header nav a:hover {
    color: #339448;
}

